.navbar img{
    width: auto;
    height: 45px;
}

.link-contacto{
    /* background-color: #EF5B0C; */
    background-color: #ffc107;
    border-radius: 10px;
}

.link-contacto:hover{
    background-color: #73777B;
}

.canvas-contact a{
    /* color: #EF5B0C; */
    color: #ffc107;
    text-decoration: none;
}

.canvas-contact a:hover{
    color: #73777B;
}

.footer{
    height: 100px;
}